<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
    <link th:href="@{/css/flickity.css}" rel="stylesheet">
</head>
<body>
<div class="container px-5 py-5">
    <div id="logoCover">
        <header>
            <h1 id="logoFilm">Filmopini<strong>o</strong>n</h1>
        </header>
    </div>
    <div class="card mt-3">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1 class="display-4">ERROR - 404</h1>
                <div class="alert alert-danger" role="alert">
                    HTTP 404 Not Found - Restricted area
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/ajaxUtils.js}"></script>
<script th:src="@{/js/flickity.pkgd.min.js}"></script>

</body>
</html>