<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
    <link th:href="@{/css/flickity.css}" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div th:insert="fragments/menu :: menu-header"></div>
        <h3 class="ms-5 text-dark">Las más destacadas</h3>
        <!-- Flickity HTML init -->
        <div class="gallery js-flickity destacadas"
             data-flickity-options='{ "groupCells": true }'>
            <div th:each="pelicula : ${listadoPeliculas}" class="gallery-cell movies">
                <div class="movie">
                    <input type="text" th:value="${pelicula.id}" hidden/>
                    <img th:src="@{${pelicula.image}}" alt="" class="poster" />
                    <div class="title" th:text="${pelicula.titulo}"></div>
                    <span class="length" th:text="${pelicula.duracion} + 'min.'"></span>
                    <div class="genero" th:text="${pelicula.genero}"></div>
                    <div class="descripcion" th:text="${pelicula.sinopsis}"></div>
                    <div class="acteres">
                        <h5 class="mt-3">Reparto</h5>
                        <table>
                            <tbody>
                                <tr th:each="actor: ${pelicula.actoreses}">
                                    <td th:text="${actor.nombre}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h4 class="mt-3">Críticas</h4>
                    <b class="valoracion-text">Valoración media: </b>
                    <div class="rating-medio mt-3 p-3 mb-3">
                    </div>
                    <h5 class="mt-3">Hay críticas disponibles</h5>
                    <input type="button"
                           class="btn btn-secondary"
                           value="Ver más"
                           th:onclick="'javascript:verMasCriticas(this,' + ${pelicula.id} + ')'" >
                    <div class="container-criticas mt-4">
                        <ul class="list-group">
                        </ul>
                    </div>
                    <i class="fa-solid fa-user-bounty-hunter"></i>
                    <div class="rating mt-3">
                        <h4 class="mt-3">Añade tú valoración sobre la película</h4>
                        <div class="form-control-floating mb-3">
                            <textarea class="form-control"
                                      placeholder="Valoración"
                                      id="valoracion"
                                      name="valoracion"
                                      style="height: 100px"></textarea>
                        </div>
                        <i class="fas fa-star"></i>
                        <small class="text-muted">Tu opinión cuenta</small>
                        <select class="form-select form-select-lg mb-3 mt-3"
                                th:onchange="'javascript:changeSelect(this,' + ${pelicula.id} + ')'"
                                aria-label="Rating select">
                            <option >Puntúa del 1 al 10</option>
                            <option value="1">1 - Muy mala</option>
                            <option value="2">2 - Bastante mala</option>
                            <option value="3">3 - Mala</option>
                            <option value="4">4 - Regular</option>
                            <option value="5">5 - Pasable</option>
                            <option value="6">6 - Aceptable</option>
                            <option value="7">7 - Buena</option>
                            <option value="8">8 - Bastante buena</option>
                            <option value="9">9 - Muy buena</option>
                            <option value="10">10 - Excelente</option>
                        </select>
                        <input type="text" th:id="'selected-rating-' + ${pelicula.id}" name="selected-rating" hidden/>
                        <div class="d-grid gap-2">
                            <input type="button" class="btn btn-warning btn-lg rating-btn" id="rating-btn"
                                   th:onclick="'javascript:onRating(this,' + ${pelicula.id} + ',' + ${userId} +')'"
                                   value="Valorar ahora" />
                        </div>
                    </div>
                    <div class="rating-complete mt-3 p-3" style="display: none;">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa-solid fa-message-smile"></i>
                            Ya has realizado una crítica para esta película.
                            Gracias por contribuir!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="ms-5 text-dark mt-3">Acción y aventuras</h5>
        <!-- Flickity HTML init -->
        <div class="gallery js-flickity"
             data-flickity-options='{"groupCells": true }'>
            <div th:each="pelicula : ${lstPelisAccion}" class="gallery-cell movies">
                <div class="movie">
                    <img th:src="@{${pelicula.image}}" alt="" class="poster" />
                    <div class="title" th:text="${pelicula.titulo}"></div>
                    <span class="length" th:text="${pelicula.duracion} + 'min.'"></span>
                    <span class="year" th:text="${pelicula.anio}"></span>
                    <div class="genero" th:text="${pelicula.genero}"></div>
                    <div class="descripcion" th:text="${pelicula.sinopsis}"></div>
                </div>
            </div>
        </div>
        <h5 class="ms-5 text-dark mt-3">Películas del 2009</h5>
        <!-- Flickity HTML init -->
        <div class="gallery js-flickity"
             data-flickity-options='{"groupCells": true }'>
            <div th:each="pelicula : ${lstPelis2009}" class="gallery-cell movies">
                <div class="movie">
                    <img th:src="@{${pelicula.image}}" alt="" class="poster" />
                    <div class="title" th:text="${pelicula.titulo}"></div>
                    <span class="length" th:text="${pelicula.duracion} + 'min.'"></span>
                    <span class="year" th:text="${pelicula.anio}"></span>
                    <div class="genero" th:text="${pelicula.genero}"></div>
                    <div class="descripcion" th:text="${pelicula.sinopsis}"></div>
                </div>
            </div>
        </div>
        <div class="detail">
            <svg class="close">
                <use xlink:href="#close"></use>
            </svg>
            <div class="movie">
                <img src="https://github.com/supahfunk/supah-codepen/blob/master/movie-room.jpg?raw=true" alt="" class="poster" />
                <div class="title"></div>
                <div class="info">
                    <span class="length"></span>
                    <span class="year"></span>
                </div>
                <div class="desc">
                </div>
            </div>
        </div>
    </div>
    <input hidden id="setCriticasUser" type="text" th:value="${setCriticas}"></div>

    <!-- Icons -->
    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
        <symbol id="close" viewBox="0 0 212.982 212.982">
            <g>
                <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312   c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312   l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937   c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" fill="#525661"/>
            </g>
        </symbol>
        <symbol id="ico-search">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#363a47" d="M14.769,14.769c-0.342,0.342-0.896,0.342-1.237,0l-3.756-3.756
                                                                    c-2.399,1.793-5.801,1.623-7.981-0.557c-2.392-2.392-2.392-6.271,0-8.663s6.271-2.392,8.662,0c2.18,2.181,2.35,5.583,0.557,7.981
                                                                    l3.756,3.756C15.11,13.873,15.11,14.427,14.769,14.769z M9.219,3.032c-1.709-1.709-4.479-1.709-6.188,0
                                                                    c-1.708,1.708-1.708,4.479,0,6.188c1.709,1.708,4.479,1.708,6.188,0C10.927,7.51,10.927,4.74,9.219,3.032z"/>
        </symbol>
    </svg>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/ajaxUtils.js}"></script>
    <script th:src="@{/js/flickity.pkgd.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>

</body>
</html>