<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div class="app">
    <header>
        <h1 id="logoFilm">FilmAffinit<strong>y</strong></h1>
        <nav id="navbar">
            <ul id="main-menu">
                <li><a href="/"><i class="fas fa-film"></i>Inicio</a></li>
                <li><a href="/peliculas/listado"><i class="fas fa-film"></i>Peliculas</a></li>
                <li><a href="/actores/listado"><i class="fas fa-user-friends"></i>Actores</a></li>
            </ul>
        </nav>
        <div class="search"><svg><use xlink:href="#ico-search"></use></svg></div>
    </header>
    <div class="row">
        <div class="col-9">
            <h1 class="display-6 ms-5" th:text="${titlePage}"></h1>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="volver-listado-peliculas">Volver</button>
        </div>
    </div>
    <ul class="container pt-3 ps-5 pe-5">
        <form th:action="@{/peliculas/guardar/}" method="post" th:object="${pelicula}">
            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                Por favor corrija los siguientes errores:
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                </ul>
            </div>
            <img th:src="@{${pelicula.image}}" alt="" class="img-edit-pelicula" />
            <div class="form-floating mb-3">
                <input type="hidden" class="form-control" id="pelicula-id" name="id" th:field="*{id}" th:value="${pelicula.id}">
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="titulo" name="titulo" th:field="*{titulo}" th:value="${pelicula.titulo}" required>
                <label for="titulo">Título</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="genero" name="genero" th:field="*{genero}" th:value="${pelicula.genero}" required>
                <label for="genero">Genero</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="duracion" name="duracion" th:field="*{duracion}"  th:value="${pelicula.duracion}">
                <label for="duracion">Duración</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="anio" name="anio" th:field="*{anio}" th:value="${pelicula.anio}">
                <label for="anio">Año</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="director" name="director" th:field="*{direccion}" th:value="${pelicula.direccion}">
                <label for="director">Director</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="pais" name="pais" th:field="*{pais}" th:value="${pelicula.pais}">
                <label for="pais">País</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="sinopsis" style="height: 200px" name="sinopsis" th:text="${pelicula.sinopsis}" required></textarea>
                <label for="sinopsis">Sinopsis</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="image" name="image" th:field="*{image}" th:value="${pelicula.image}">
                <label for="image">Link image</label>
            </div>
            <h6>Reparto actores</h6>
            <form>
                <div class="form-row">
                    <div class="col">
                        Añadir nuevo:
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Buscar ...">
                    </div>
                </div>
            </form>
            <ul class="list-group mt-3">
                <li class="list-group-item" th:each="actor : ${lstActores}">
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <td th:text="${actor.nombre}"></td>
                                <td>
                                    <i class="fas fa-trash"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
            <div class="row justify-content-md-center mt-5 ms-5">
                <div class="col">
                    <button th:if="${mode} == 'edit'" type="button" class="btn btn-danger" id="eliminar-pelicula-btn">Eliminar registro</button>
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/scriptEdit.js}"></script>

</body>
</html>