<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="app pb-5">
        <header>
            <h1 id="logoFilm">Filmopini<strong>o</strong>n</h1>
            <nav id="navbar">
                <ul id="main-menu">
                    <li><a href="/"><i class="fas fa-film"></i>Inicio</a></li>
                    <li><a href="/peliculas/listado"><i class="fas fa-film"></i>Peliculas</a></li>
                    <li><a href="/actores/listado"><i class="fas fa-user-friends"></i>Actores</a></li>
                </ul>
            </nav>
            <div class="search"><svg><use xlink:href="#ico-search"></use></svg></div>
        </header>
        <div class="row">
            <div class="col-9">
                <h1 class="display-6 ms-5">Listado de Actores</h1>
            </div>
            <div class="col-3">
                <button id="nuevo-actor" type="button" class="btn btn-primary">Crear nuevo</button>
            </div>
        </div>
        <section class="movies">
            <table class="table table-hover m-5">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Fecha de nacimiento</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="listado-actores-tr" th:each="actor : ${listadoActores}">
                        <td class="hidden" th:text="${actor.id}"></td>
                        <td th:text="${actor.nombre}"></td>
                        <td th:text="${actor.nacionalidad}"></td>
                        <td th:text="${actor.fechaNacimiento}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

</body>
</html>