<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/menuStyle.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="app pb-5">
        <div th:insert="fragments/menu :: menu-header"></div>
        <div class="row">
            <div class="col-12">
                <h1 class="display-6 ms-5">Listado de Actores</h1>
            </div>
            <div class="col-12">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <button id="nuevo-actor" type="button" class="btn btn-primary ms-5">Crear nuevo</button>
                </div>
            </div>
        </div>
        <section class="listado-container p-3">
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Fecha de nacimiento</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="listado-actores-tr" th:each="actor : ${listadoActores}">
                        <td class="hidden" th:text="${actor.id}"></td>
                        <td th:text="${actor.nombre}"></td>
                        <td th:text="${actor.nacionalidad}"></td>
                        <td th:text="${actor.fechaNacimiento}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>

</body>
</html>